.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  cursor: pointer;
  border-radius: 0.375rem;
  user-select: none;
  filter: brightness(var(--tw-brightness));
  transition: all 0.2s ease;
}

.button:not(.buttonBrand) {
  color: rgb(var(--primary));
  border: 1px solid rgb(var(--primary));
  background: transparent;
}

.buttonBrand {
  color: rgb(var(--primary));
  font-weight: 800;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: 16px;
}
