.navigation-switcher-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 5px;
}

.navigation-switcher {
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #141516;
  border-radius: 10px;
  border: solid 1px #141516;
  position: relative;
}

.slider {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transition: transform 0.5s ease;
  background: rgb(44, 45, 48);
}

.tab {
  height: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;
  background: none;
  border: none;
  color: #9ea0a3;
  padding: 0;
  width: 50%;
}

.tab.active {
  color: #ffffff;
  cursor: default;
}

.click {
  background: rgb(44, 45, 48);
  border-radius: 10px;
  color: #ffffff;
}

.bets-list {
  width: 100%;
  padding: 10px;
  color: rgb(var(--primary));
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bets-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #9ea0a3;
}

.bets-header__item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bets-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bets-content__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #9ea0a3;
}

.bets-header__item {
  width: 33%;
  display: flex;
  align-items: center;
}

.bets-content__item__player,
.bets-content__item__amount,
.bets-content__item__cashout {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
